---
---
@import "bootstrap/bootstrap";
@import "highlight-monokai";

$white: #fff;
$rl-deep-blue: #4453a6;

html, body {
  font-family: "century-gothic", Sans-serif;
  font-weight: 400;
}

body {
  background-color: $rl-deep-blue;
  color: #fff;

  &.layout-redirect {
    background-color: $white;
  }
}

.page {
  background-color: $white;
  color: #000000;

  @media(min-width: 1200px) {
    .container-fluid {
      max-width: 1140px;
    }
  }
}

header {
  a {
    color: inherit !important;
    text-decoration: none !important;
  }
}

.post-cards {
  &.row {
    display: flex;
    flex-wrap: wrap;

    & > div[class*='col-'] {
      display: flex;
    }
  }
}

.post-card {
  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-footer {
    background-color: inherit;
  }
}

.figure {
  .figure-caption {
    a {
      color: inherit !important;
      text-decoration: none !important;
    }
  }
}

.markdown-content {
  img {
    margin: 20px 0;

    max-height: 600px;
    max-width: 100%;
  }

  .highlight > pre {
    padding: 1rem;
  }
}

.embed-block {
  cursor: pointer;
  position: relative;

  p {
    margin: 0;
  }

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  img {
    height: 10vh;
    object-fit: cover;
  }
}

.callout-block {
  a {
    color: inherit !important;
    text-decoration: none !important;
  }
}

footer {
  background-color: $rl-deep-blue;
  color: #fff;

  a, a:active, a:hover, a:visited {
    color: #fff;
  }

  .footer-shape {
    svg {
      height: 92px;
      fill: #fff;
      width: 100%;
    }
  }
}

.footer-links {
  margin-top: 5rem;
  margin-bottom: 5rem;

  .icon-svgs {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem 3rem;
    position: relative;

    svg {
      color: $rl-deep-blue;

      &:first-child {
        height: 60px;
        width: 60px;
        position: absolute;
        z-index: 0;
      }
      &:last-child {
        height: 40px;
        width: 40px;
        position: absolute;
        z-index: 1;
      }
    }
  }

  .copyright {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
