---
layout: default
---
<section class="container-fluid">
  <div class="row">
    <article class="col-12 col-sm-10 offset-sm-1 post">

      <div class="text-center">
        <h1>{{ page.title }}</h1>
        <p>
          <small class="text-muted">
            {% if page.author and site.authors[page.author].name %}
            {{ site.authors[page.author].name }} -
            {% elsif page.author %}
            {{ page.author }} -
            {% endif %}
            {{ page.date | date_to_long_string: "ordinal" }}
          </small>
        </p>
      </div>

      {% if page.image and page.image-caption %}
      <figure class="figure">
        <img class="figure-img img-fluid rounded" src="{{ page.image }}"/>
        <figcaption class="figure-caption text-right">{{ page.image-caption | markdownify }}</figcaption>
      </figure>
      {% elsif page.image %}
      <img class="img-fluid rounded mb-3" src="{{ page.image }}"/>
      {% endif %}

      <div class="markdown-content">
        {{content}}
      </div>

    </article>
  </div>
</section>
